<!-- controller set autmatically by state( 'browser') in browser.js  -->
	<div class="row-fluid">
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Properties</h3>
  			</div>
			<div class="panel-body">
				<div class="col-sm-4 column">
                    <form name="form1" ng-submit="form1.$valid && saveOrCreate()" novalidate>
						<div class="form-group">
							 <label for="name">Name</label>
                            <span class="label label-danger" ng-show="form1.name.$error.required">Required</span>
							 <input class="form-control" id="name" name="name" type="text" ng-model="elt.name" required/>
						</div>
						<div class="form-group">
							 <label for="description">Description</label>
							 <input class="form-control" id="description" ng-model="elt.description" />
						</div>
						<div class="form-group">
							 <label for="email">Email</label>
                            <span class="label label-danger" ng-show="form1.email.$error.required">Required</span>
                            <span class="label label-danger" ng-show="!form1.email.$error.required && form1.email.$invalid"
                                    >Invalid e-mail</span>
							 <input class="form-control" type="text" id="email" name="email" ng-model="elt.email"  required cemail />
						</div>
						<br>
						<button ng-show="hasPermissionIn(['Account_View', 'Account_Mgmt'])" type="submit" class="btn btn-default">{{modeBtn}}</button>
					</form>
				</div>

                <div class="col-sm-4 column">
                    <div ng-include="partials.addInfo"></div>
                </div>

				<div class="col-sm-4 column">
					<button type="button" ui-sref="authenticated.browser({entity: entity})" class="btn btn-default">&lt;All Accounts</button>
					<br><br>
					<button type="button" class="btn btn-default">&gt; Employee (NA)</button>			
					 Pbs to solve and TODOs: 
					<ul>
						<li>See groupAccount pbs</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<div ng-include="partials.tabs"></div>

 