<!-- controller set autmatically by state( 'browser') in browser.js  -->
<div class="row-fluid">
    <div class="col-sm-12 column">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Properties</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-4 column">
                        <form name="form1" ng-submit="form1.$valid && saveOrCreate()" novalidate>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <span class="label label-danger" ng-show="form1.name.$error.required">Required</span>
                                <span class="label label-danger"
                                      ng-show="form1.name.$error.minlength">Should Contain Atleast 6 Characters</span>
                                <input class="form-control" id="name" name="name" ng-model="elt.name" ng-minlength="6"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input class="form-control" id="description" ng-model="elt.description"/>
                            </div>
                            <br>
                            <button data-ng-show="hasPermission('Account.Mgmt')" type="submit" class="btn btn-default">
                                {{modeBtn}}
                            </button>
                        </form>
                    </div>

                    <div class="col-sm-4 column">
                        <div ng-include="partials.addInfo"></div>
                    </div>
                    <div class="col-sm-4 column">
                        <button type="button" ui-sref="browser({entity: entity})" class="btn btn-default">&lt; All
                            Groups
                        </button>
                        <br><br>
                        Pbs to solve and TODOs:
                        <ul>
                            <li>after entity create, tabs do not get the right entity id</li>
                            <li>(*)on display, the first tab should be selected and have data (must swicth to first tab
                                state)
                            </li>
                            <li>in related item lists, the label for entities is the parent entity label, not the right
                                one
                            </li>
                            <li>breadcrumb displays correct stats only after a tab is selected (may be fixed by (*)
                                resolution)
                            </li>
                            <li>breadcrumb doesn't display correct label for GroupAccount Roles</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

        <div ng-include="partials.tabs"></div>
    </div>
</div>
