<div class="admin-notification-delivery-email-edit">
  <h3>{{'admin.notification_delivery.EMAIL' | translate}} {{'admin.notification_delivery.PROVIDERS' | translate}}</h3>
  <div ng-repeat="provider in parsedEmailProviders" class="provider-panel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <div class="pull-left">
              <a class="collapse-tick provider-collapse-tick" ng-click="invertProviderCollapsedFlag(provider)">
                <span class="glyphicon glyphicon-minus" ng-if="!provider.isCollapsed"></span>
                <span class="glyphicon glyphicon-plus" ng-if="provider.isCollapsed"></span>
              </a>
              <label>{{provider.name}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="pull-right">
              <div class="info-sub">
                <input type="checkbox" class="info-sub-checkbox" ng-model="provider.active">
                <span ng-if="provider.active" translate>admin.notification_delivery.ACTIVE</span>
                <span ng-if="!provider.active" translate>admin.notification_delivery.INACTIVE</span>
              </div>
              <div class="info-sub" ng-if="provider.activationChanged!==0">
                <label translate>admin.notification_delivery.LAST_ACTIVATION_CHANGED</label>
                <span>{{provider.activationChanged}}</span>
              </div>
              <div class="info-sub">
                <label translate>admin.notification_delivery.CONNECTION_HEALTH</label>
                <span class="provider-connection-{{provider.status}} provider-connection-status"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="pull-left">
              <div class="info-sub" ng-if="provider.lastChecked!==0">
                <label translate>admin.notification_delivery.LAST_TESTED</label>
                <span>{{provider.lastChecked}}</span>
              </div>
              <div class="info-sub" ng-if="provider.statusInfo!==null && provider.statusInfo!==''">
                <label translate>admin.notification_delivery.STATUS_INFO</label>
                <span>{{provider.statusInfo}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="pull-right">
              <img src="img/loading.gif" ng-show="!provider.isTestCompleted">
              <button type="button" class="btn btn-default" ng-click="testProvider(provider)" translate>admin.notification_delivery.TEST</button>
              <button type="button" class="btn btn-default" ng-click="saveProvider(provider)" translate>app.SAVE</button>
              <span class="splitter"> | </span>
              <span class="dropdown" ng-if="hasMgmtPermission()">
                <button class="btn btn-default dropdown-toggle" translate>app.DELETE</button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="" translate>app.NO</a></li>
                  <li><a ng-click="deleteProvider(provider)" translate>app.YES</a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body well" collapse="provider.isCollapsed">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>{{'app.NAME' | translate}} *</label>
              <input type="text" class="form-control" ng-model="provider.name">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{{'admin.notification_delivery.PROVIDER_TYPE' | translate}}</label>
              <input type="text" class="form-control" ng-model="provider.providerType" readonly>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <hr>
        <div ng-if="provider.providerType==='POPSMTPEmail'">
          <h4 translate>admin.notification_delivery.POP_SERVER</h4>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>{{'admin.notification_delivery.POP_SERVER_HOSTNAME' | translate}} *</label>
                <input type="text" class="form-control" ng-model="provider.settings.receiveHost">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>{{'admin.notification_delivery.POP_SERVER_PORT' | translate}} *</label>
                <input type="text" class="form-control" ng-model="provider.settings.receivePort">
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <hr>
          <h4 translate>admin.notification_delivery.SMTP_SERVER</h4>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>{{'admin.notification_delivery.SMTP_SERVER_HOSTNAME' | translate}} *</label>
                <input type="text" class="form-control" ng-model="provider.settings.sendHost">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>{{'admin.notification_delivery.SMTP_SERVER_PORT' | translate}} *</label>
                <input type="text" class="form-control" ng-model="provider.settings.sendPort">
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <hr>
          <h4 translate>admin.notification_delivery.LOGIN</h4>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>{{'admin.notification_delivery.USER_NAME' | translate}} *</label>
                <input type="text" class="form-control" ng-model="provider.settings.userName">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>{{'admin.notification_delivery.PASSWORD' | translate}} *</label>
                <input type="text" class="form-control" ng-model="provider.settings.password">
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>