<!-- schedule builder create settings start-->
<div class="schedule-builder-create-settings">
    <h2>{{ 'schedule_builder.SCHEDULE_GENERATION_SETTINGS' | translate }}</h2>
    <div>
        <div>
            Last Generation
            <button type="button" class="btn btn-default save pull-right"  >
                {{'schedule_builder.SAVE' | translate}}
            </button>
        </div>
        <div >
            <tabset>
                <tab heading="{{ 'schedule_builder.GENERAL_SETTINGS' | translate }}" >General Settings</tab>
                <tab heading="{{ 'schedule_builder.CUSTOM_OPTIMIZATION_GOALS' | translate }}">Custom Optimization goals</tab>
                <tab heading="{{ 'schedule_builder.ADVANCED_OPTIONS' | translate }}">Advanced Options</tab>
            </tabset>
        </div>
    </div>
</div>
<!-- schedule builder create settings end-->