<div class="save-as-modal">
    <h2>Specify Name</h2>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label for="scheduleName" style="margin-right: 10px;" translate>app.NAME</label>
            <input type="text" id="scheduleName" ng-model="schedule.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="overflow: hidden; padding-top: 10px; clear: both;">
            <button ng-click="save()" class="btn btn-default save-btn pull-right" translate>app.SAVE</button>
            <button ng-click="close()" class="btn btn-default close-btn pull-right" translate>app.CLOSE</button>
        </div>
    </div>
</div>
