<div class="container-fluid change-password-tab">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <form class="form-horizontal" ng-submit="changePassword()">
            <div class="pwd-inputs">
              <div class="form-group">
                <label class="col-sm-4 control-label">Current Password</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" ng-model="passwords.currentPassword"
                         placeholder="Current Password">
                </div>
              </div>
              <div class="form-group new-pwd">
                <label class="col-sm-4 control-label">New Password</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" ng-model="passwords.newPassword"
                         placeholder="New Password">
                </div>
                <div class="col-sm-1">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="passwords.newPassword"></span>
                </div>
              </div>
              <div class="form-group repeat-pwd">
                <label class="col-sm-4 control-label">Repeat Password</label>

                <div class="col-sm-7">
                  <input type="password" class="form-control" ng-model="passwords.repeatPassword"
                         placeholder="Repeat Password">
                </div>
                <div class="col-sm-1">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="passwordsMatch()"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                  <button type="submit" class="btn btn-success" ng-disabled="!passwordsMatch()">Change</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
