<!--
    JBoss, Home of Professional Open Source. Copyright 2013, Red Hat, Inc. 
-->
<!-- Marker file indicating CDI 1.0 should be enabled -->

<beans xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
      http://java.sun.com/xml/ns/javaee 
      http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
  
    <interceptors>
        <class>com.emlogis.common.session.HazelcastExceptionInterceptor</class>
        <class>com.emlogis.rest.auditing.AuditingInterceptor</class>
        <class>com.emlogis.common.validation.ValidationInterceptor</class>
    </interceptors>

</beans>

