.employee-schedules {
  .dropdown-menu {
    min-width: 120px;
  }

  .data-panel {
    .select-container {
      .sub-select-container {
        float: left;

        label {
          text-transform: capitalize !important;
          font-size: 16px;
          margin-right: $margin-base-horizontal;
          margin-top: 3px;
          vertical-align: middle;
        }

        .week-selector,
        .day-selector {
          margin-right: $margin-base-horizontal;
          button {
            padding-top: 2px;
            padding-bottom: 2px;
          }
        }
      }

      .select-schedule-container {
        margin-right: 10px;

        .btn-open-schedule {
          padding: 0px;
          border: 0px;
          background-color: #f3f3f3;
        }
      }
    }

    .schedule-info-container {
      padding: $padding-base-vertical 0;
      border-top: 1px solid #b0bec4;
      border-bottom: 1px solid #b0bec4;

      h4 {
        margin-bottom: 5px !important;
        font-size: 18px !important;
      }

      .schedule-name-info {
        label,
        span {
          font-size: 18px;
        }
      }

      label {
        text-transform: capitalize;
        color: $eml-dark-grey;
        font-size: 14px;
      }

      .inline-container {
        display: inline-block;
        .inline-info {
          display: inline-block;
          margin-right: $margin-xl-horizontal;

          &.schedule-status-info {
            .status-info-value {
              background-color: $eml-dark-grey;
              color: #fff;
              padding: 3px 6px;
              border-radius: 3px;
            }
          }
        }
        .inline-info:last-child {
          margin-right: 0;
        }
      }

      .action-container {
        margin-top: 16px;
        .link-advanced-options {
          font-size: 14px;
          margin-right: $margin-base-horizontal;
        }
        .btn-delete-schedule {
          margin-right: $margin-base-horizontal;
        }
      }
    }

    .schedule-filter-container {
      .schedule-filter-body {

        label {
          text-transform: capitalize;
        }

        .upper-part {
          .row {
            margin-bottom: $margin-large-vertical;
          }
          .filter-label {
            text-transform: uppercase;
            font-size: 14px;
          }
          .filter-selector-container {
            float: left;
            margin-right: $margin-base-horizontal;
            .filter-selector {
              display: block;
            }
          }
          .slider-container {
            margin: $margin-large-vertical 0;
          }
          .chk-display-scheduled-only-container {
            margin-top: 30px;
            .chk-display-scheduled-only {
              vertical-align: text-bottom;
            }
          }
        }

        .lower-part {
          padding: $padding-base-vertical $padding-base-horizontal;
          background-color: #d4d4d4;

          h4 {
            margin-bottom: 5px !important;
            font-size: 18px !important;
          }

          label {
            color: $eml-dark-grey;
            font-size: 14px;
          }

          .action-container {
            margin-top: 12px;

            .btn-manage-open-shifts {
              background-color: #da3b2b;
              border-color: #da3b2b;
              margin-right: $margin-base-horizontal;
            }
          }
        }
      }
    }

    .schedule-calendar-container {
      .schedule-calendar-bar {
        margin-bottom: $margin-base-vertical;
        .name-filter {
          width: 210px;
          float: left;
          .input-group-btn {
            width: auto;
            button {
              margin-top: -2px;
              padding: 2px 6px;
              font-size: 16px;
              box-shadow: none;
              border-color: #ccc;
              background-color: #fff;
              color: #43464f;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }
        }
        .toggle-summary {
          width: 232px;
          border-right: 1px dotted #b0bec4;
          float: left;
          margin-top: 10px;
          button {
            border: 0;
            background: transparent;
            outline: 0;
          }
          .tick-hourly-rate-container {
            margin-right: 10px;
            .tick-hourly-rate {
              vertical-align: sub;
            }
          }
        }
        .day-view-navigator {
          .btn-day-navigator {
            a {
              font-size: $font-size-h4;
            }
          }
          .day-title {
            margin: 0 $margin-xl-horizontal;
            .day-title-content,
            .day-title-week-navigator {
              font-size: 17px;
            }
          }
        }
      }

      .schedule-calendar {
        border: 1px solid #b0bec4;

        .schedule-calendar-row {
          border-bottom: 1px solid #b0bec4;

          .schedule-calendar-cell {
            padding: 0 5px;
            float: left;

            &.employee-info {
              width: 210px;
              .employee-hours {
                margin-right: $margin-base-horizontal;
              }
            }
            &.employee-service-years,
            &.employee-rate {
              border-left: 1px solid #b0bec4;
            }
            &.employee-service-years {
              width: 50px;
            }
            &.employee-rate {
              width: 40px;
            }
            &.employee-home-team,
            &.employee-primary-skill {
              width: 70px;
              border-left: 1px solid #b0bec4;
            }
            &.employee-total,
            &.employee-due {
              width: 60px;
              border-left: 1px solid #b0bec4;
            }
            &.calendar-hour {
              width: calc((100% - 400px)/24);
              border-left: 1px solid #b0bec4;
            }
            &.calendar-day {
              width: calc((100% - 440px)/7);
              border-left: 1px solid #b0bec4;
            }
          }
        }

        &.schedule-calendar-week-view {
          .schedule-calendar-body {
            .schedule-calendar-row {
              .schedule-calendar-cell {
                height: 54px;

                &.employee-service-years,
                &.employee-rate,
                &.employee-home-team,
                &.employee-primary-skill {
                  font-size: 10px !important;
                }
                &.calendar-day-content {
                  padding: 0;

                  .shift-content {
                    font-size: 10px !important;
                    overflow: hidden;

                    .content-lower {
                      padding: 2px 5px 3px;
                    }
                    .content-upper {
                      padding: 2px 5px;
                      .assignment {
                        color: transparent;
                      }
                    }
                    &.has-comment {
                      border-bottom-right-radius: 25px;
                    }
                    &.normal {
                      &.regular {
                        .content-upper {
                          background-color: #0e9ac9;
                        }
                        .content-lower {
                          background-color: #007fb5;
                        }
                      }
                      &.extra {
                        .content-upper {
                          background-color: #ffa84d;
                        }
                        .content-lower {
                          background-color: #ee7f00;
                        }
                      }
                    }

                    &.open {
                      &.regular {
                        .content-upper {
                          background-color: #e74c3c;
                        }
                        .content-lower {
                          background-color: #c0392b;
                        }
                      }
                      &.extra {
                        .content-upper {
                          background-color: #ffa84d;
                        }
                        .content-lower {
                          background-color: #ee7f00;
                        }
                      }
                    }

                    &.filter-removed {
                      opacity: 0.6;
                    }
                  }
                }
                &.collapse.in {
                  height: 54px !important;
                }
                &.open-shifts-desc {
                  width: 440px;
                }
              }
            }
          }
        }

        &.schedule-calendar-day-view {
          .schedule-calendar-body {
            .schedule-calendar-row {
              &.schedule-calendar-head-counts {
                background-color: #f3f1eb;
                height: 45px;
              }

              .schedule-calendar-cell {
                height: 35px;

                &.employee-total,
                &.employee-due,
                &.employee-primary-skill {
                  font-size: 10px !important;
                }

                &.employee-shifts-container,
                &.open-shifts-container {
                  width: calc(100% - 400px);
                  padding: 0;

                  .calendar-hour {
                    width: calc(100%/24);
                    padding: 0;
                    height: 100%;

                    .calendar-hour-inner-cell {
                      float: left;
                      border-left: 1px solid #ddd;
                      height: 100%;
                    }
                    .calendar-hour-inner-cell:first-child {
                      border-left: none;
                    }
                  }

                  .shift-content-container {
                    position: absolute;
                    top: 0;
                    height: 100%;
                  }
                }

                &.employee-shifts-container {
                  position: relative;
                  overflow-x: hidden;
                }

                &.open-shifts-container {
                  .open-shifts-inner-container {
                    position: relative;
                    overflow-x: hidden;

                    .shift-content-container {
                      height: 35px;
                      border-bottom: 1px solid #b0bec4;
                    }
                  }
                  .time-label-container {
                    border-top: 1px solid #b0bec4;
                    .schedule-calendar-cell {
                      height: 28px;
                      padding: $padding-base-vertical 5px;
                    }
                  }
                }

                &.head-counts-container {
                  width: calc(100% - 400px);
                  padding: 0;
                  height: 100%;

                  .calendar-hour {
                    width: calc(100%/24);
                    padding: 0;
                    border-left: 0;
                    height: 18px;
                    .head-counts-inner-cell {
                      float: left;
                      width: 50%;

                      &.first-cell,
                      &.third-cell {
                        span {
                          margin-left: -3px;
                        }
                      }
                    }
                  }

                  .head-counts-meters {
                    .upper-meter {
                      .calendar-hour {
                        height: auto;
                        .head-counts-inner-cell {
                          height: 5px;
                          border-left: 1px solid #b0bec4;
                          border-bottom: 1px solid #b0bec4;
                        }
                      }
                    }
                    .lower-meter {
                      .calendar-hour {
                        height: auto;
                        .head-counts-inner-cell {
                          height: 4px;
                          border-left: 1px solid #b0bec4;
                          border-right: 1px solid #b0bec4;
                          margin-left: 25%;
                        }
                      }
                    }
                  }
                }

                &.head-counts-title {
                  height: 100%;
                  h4 {
                    line-height: 26px;
                  }
                }

                &.open-shifts-desc,
                &.head-counts-title {
                  width: 400px;
                }

                .shift-content {
                  height: 100%;
                  padding: 0 $padding-base-horizontal;
                  overflow: hidden;

                  &.has-comment {
                    border-bottom-right-radius: 25px;
                  }
                  &.normal {
                    &.regular {
                      background-color: #0e9ac9;
                    }
                    &.extra {
                      background-color: #ffa84d;
                    }
                  }

                  &.open {
                    &.regular {
                      background-color: #e74c3c;
                    }
                    &.extra {
                      background-color: #ffa84d;
                    }
                  }

                  &.filter-removed {
                    opacity: 0.6;
                  }

                  .shift-time {
                    height: 100%;
                    line-height: 35px;
                    font-size: 12px !important;
                  }
                }
              }
            }
          }
        }

        .schedule-calendar-header {
          .schedule-calendar-row {
            .schedule-calendar-cell {
              height: 28px;
              padding: $padding-base-vertical 5px;

              .sort {
                line-height: 1;
              }

              .sort-asc {
                margin-top: -3px;
              }

              .open-shifts-count-label {
                padding: 0 5px;
              }
            }
          }
        }
        .schedule-calendar-body {
          .schedule-calendar-row {
            .schedule-calendar-cell {
              &.employee-info {
                background-color: #f3f1eb;
                overflow: auto;
                .employee-name-hours {
                  .employee-name {
                    font-weight: 700;
                  }
                  .employee-hours {
                    &.bold {
                      font-weight: 700;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.manage-open-shifts-modal {
  .modal-dialog {
    width: 1100px;
  }

  .step-title {
    font-weight: 700;
  }

  .dropdown-menu {
    min-width: 120px;
  }

  .eml-switch {
    &.switch-checked {
      .eml-switch-label {
        background: $eml-dark-blue !important;
      }
    }
  }

  .open-shifts-grid {
    height: 500px !important;
    .cell-bold {
      font-weight: 900;
    }
  }

  .eligibility-loader {
    margin-bottom: 382px;
  }

  .employees-grid {
    height: 410px !important;
  }

  .posting-rules-popup-container {
    .caret-container {
      margin-top: -15px;
      margin-bottom: -9px;
      .fa {
        margin-right: $margin-base-horizontal;
      }
    }
    .posting-rules-popup {
      height: 440px;
      .posting-rules-header {
        font-size: 13px;
        text-transform: uppercase;
      }
      .btn {
        font-size: 9px;
      }
    }
  }

  .list-employees-label-container {
    .list-employees-label {
      padding: $padding-base-vertical $padding-base-horizontal;
    }

    .caret-container {
      margin-top: -9px;
    }

    .disabled-caret {
      opacity: 0.35;
    }
  }

  .terms-switch {
    vertical-align: middle;
  }

  .post-until-label {
    margin-top: 5px;
  }
}

.manage-shift-modal {
  .dropdown-menu {
    min-width: 120px;
  }

  .shift-header {
    .shift-time-team-skill,
    .employee-name {
      font-size: $font-size-h4;
      .inner-cell {
        .inner-label {
          font-size: 12px;
          margin-right: 5px;
        }
        margin-right: 5px;
      }
    }
  }

  .scale-opt {
    padding-top: 26px;
    a {
      color: $eml-dark-grey;
      cursor: pointer;
    }
  }

  .time-line-container {
    position: relative;
    .time-line {
      width: 100%;
      height: 60px;
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 30px;

      > div {
        height: 60px;
        top: 0;

        .time-line-content {
          padding: 3px 8px;
          display: inline-block;
          word-break: break-word;
        }

        .time-line-content-small {
          height: inherit;
        }
      }

      .time-line-shift {
        background: $eml-blue-highlight;
        position: relative;
        color: white;
        top: 0;
        z-index: 10;
        border: 1px solid $eml-blue-highlight-dark;

        .ui-resizable-handle {
          background: $eml-light-grey;
          height: 12px;
          width: 12px;
          border-radius: 6px;
          border: 1px solid $eml-dark-grey;
          top: 23px;
          cursor: col-resize;
        }

        .ui-resizable-w {
          left: -7px;
        }

        .ui-resizable-e {
          right: -7px;
        }
      }

      .pto {
        background: $eml-red-highlight;
        position: absolute;
        color: white;
        top: 0;
        z-index: 9;
        border: 1px solid $eml-red-highlight-dark;
      }
    }

    .time-line-table {
      position: relative;
      width: 568px;
      height: 100px;
      border-collapse: collapse;
      table-layout: fixed;

      th {
        height: 20px;
        color: $eml-dark-grey;
        padding-left: 7px;
        font-weight: normal;
        font-size: smaller;
        overflow: hidden;
      }
    }

    table, td, th {
      border: 1px solid $eml-dark-grey;
    }
  }

  .hint-italic {
    font-size: smaller;
    font-style: italic;
  }

  .eligible-shifts-loader {
    margin-right: $margin-base-horizontal;
  }

  .eligible-employees-loader {
    display: inline-block;
    vertical-align: middle;
    margin-left: $margin-base-horizontal;
  }

  .swap-shift-checkbox {
    margin-top: 0;
    label {
      margin-bottom: 0;
    }
  }

  .radio {
    .employee-selector {
      display: inline-block;
      width: auto;
    }
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .comment-area {
    margin-bottom: 0;
  }

  .modal-footer {
    .btn {
      margin-right: $margin-base-horizontal;
    }
  }
}

.add-new-shift-modal {
  .modal-lg {
    width: 1200px;
  }
}

.fill-shift-modal {
  .modal-dialog {
    width: 900px;
  }
}

.add-new-shift-modal,
.fill-shift-modal {

  .dropdown-menu {
    min-width: 120px;
  }

  .modal-dialog {
    .modal-body {
      .content-header {
        .strong-header {
          font-size: $font-size-h4;
        }
        .btn-delete-os {
          margin-right: $margin-base-horizontal;
        }
      }

      .content-body {
        padding: 0 50px;

        .content-body-sub {
          &.row-em {
            margin-left: -5px;
            margin-right: -5px;
          }

          &.content-body-lower {
            margin-top: 10px;
          }
        }

        .col-em {
          float: left;
          padding-left: 5px;
          padding-right: 5px;
        }

        .col-em-42 {
          width: 42%;
        }

        .col-em-46 {
          width: 46%;
        }

        .col-em-30 {
          width: 30%;
        }

        .col-em-28 {
          width: 28%;
        }

        .col-em-20 {
          width: 20%;
        }

        .col-em-26 {
          width: 26%;
        }

        .col-em-27 {
          width: 27%;
        }

        .shift-time-range-picker {
          .bootstrap-datetimepicker-widget {
            .timepicker {
              .timepicker-picker {
                a.btn {
                  border: 0;
                  padding: 0;
                  .glyphicon {
                    margin: 0;
                  }
                }
              }
            }
          }
          .input-group-addon {
            border: 0;
            padding: 0;
          }
        }

        .sort-options {
          .btn {
            .glyphicon {
              padding: 0 10px 0 0;
            }
          }
          .btn:hover,
          .btn:focus,
          .btn.focus {
            color: inherit !important;
          }
        }
      }

      .content-footer {
        margin: 0 -15px -15px -15px;
        padding: 20px 65px 20px 15px;
        background-color: $eml-light-grey;

        .footer-sub {
          float: left;

          &.footer-header {
            width: 50px;
            padding-right: $padding-small-horizontal;
            text-align: right;
            .panel-upper {
              margin-top: 31px;
              text-transform: uppercase;
            }
            .panel-lower {
              position: relative;
              .footer-label-availability {
                font-weight: 600;
                position: absolute;
                top: 7px;
                right: 0;
              }
              .footer-label-preference {
                position: absolute;
                bottom: 7px;
                right: 0;
              }
            }
          }

          &.footer-calendar {
            width: calc(100% - 50px);
            border: 1px solid #ccc;
            box-shadow: 0 0 10px #ccc;

            .footer-calendar-cell {
              float: left;
              width: 14.2857142%;
              border-left: 1px solid #ccc;
            }
            .footer-calendar-cell:first-child {
              border-left: 0;
            }
            .footer-calendar-header {
              font-size: $font-size-h5;
              background-color: #ebebeb;
              border-bottom: 1px solid #ccc;
              .footer-calendar-cell {
                height: 29px;
                padding: $padding-small-vertical $padding-small-horizontal;
              }
            }
            .footer-calendar-body {
              background-color: #fff;
              font-size: 11px;

              .footer-calendar-cell {
                min-height: 26px;
              }
              .footer-calendar-body-upper {
                border-bottom: 1px solid #ccc;
                .shift-content {
                  padding: $padding-small-vertical $padding-small-horizontal;
                  border-bottom: 1px solid #ccc;
                  box-shadow: 0 0 10px #ccc inset;

                  .shift-time {
                    margin-bottom: $margin-base-vertical;
                  }
                  &.new-shift {
                    color: $eml-green-highlight;
                  }
                  &.normal-shift {
                    background-color: $eml-light-grey;
                  }
                }
              }
              .footer-calendar-body-lower {
                .availability-items {
                  border-bottom: 1px solid #eee;
                }
                .item-content {
                  padding: $padding-small-vertical $padding-small-horizontal;
                  &.partially-available {
                    background-color: $eml-light-grey;
                  }
                  &.holiday-vacation {
                    background-color: #e5f2f8;
                  }
                  &.not-available {
                    background-color: $eml-dark-grey;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
        .offset-container {
          margin-left: 50px;
          .footer-calendar-signs {
            text-align: center;
            padding: $padding-large-vertical 0;
            .footer-calendar-signs-cell {
              display: inline-block;
              .sign {
                padding: 0 $padding-small-horizontal;
                .pattern {
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                  border: 1px solid #ccc;
                  &.pattern-available {
                    background-color: #fff;
                  }
                  &.pattern-partially-available {
                    background-color: $eml-light-grey;
                  }
                  &.pattern-holiday-vacation {
                    background-color: #e5f2f8;
                  }
                  &.pattern-not-available {
                    background-color: $eml-dark-grey;
                  }
                  &.pattern-new-shift {
                    border: 1px solid $eml-green-highlight;
                  }
                }
                .text-new-shift {
                  color: $eml-green-highlight;
                }
                div {
                  display: inline-block;
                  vertical-align: middle;
                }
              }
            }
          }
          .footer-contact {
            text-align: center;
            .footer-contact-cell {
              display: inline-block;
              padding-right: $padding-base-horizontal;
            }
          }
        }
      }
    }
  }
}

.assign-shifts-modal {

  .dropdown-menu {
    min-width: 120px;
  }

  .modal-lg {
    .modal-body {
      .content-header {
        font-size: 14px;

        .employee-info-cell {
          display: inline-block;
          padding-right: $padding-base-horizontal;
          .employee-name {
            font-weight: 700;
          }
        }

        .open-shifts-loader {
          margin-right: $margin-base-horizontal;
        }

        hr {
          margin-top: 15px;
        }
      }

      .content-body {
        margin: 0 -15px -15px -15px;
        padding: 20px 65px 20px 15px;

        .body-sub {
          float: left;

          &.body-header {
            width: 50px;
            padding-right: $padding-small-horizontal;
            text-align: right;
            .panel-upper {
              margin-top: 31px;
              position: relative;
              .body-label-availability {
                font-weight: 600;
                position: absolute;
                top: 7px;
                right: 0;
              }
              .body-label-preference {
                position: absolute;
                bottom: 7px;
                right: 0;
              }
            }
            .panel-lower {
              text-transform: uppercase;
            }
          }

          &.body-calendar {
            width: calc(100% - 50px);
            border: 1px solid #ccc;
            box-shadow: 0 0 10px #ccc;

            .body-calendar-cell {
              float: left;
              width: 14.2857142%;
              border-left: 1px solid #ccc;
            }
            .body-calendar-cell:first-child {
              border-left: 0;
            }
            .body-calendar-header {
              font-size: $font-size-h5;
              background-color: #ebebeb;
              border-bottom: 1px solid #ccc;
              .body-calendar-cell {
                height: 29px;
                padding: $padding-small-vertical $padding-small-horizontal;
              }
            }
            .body-calendar-body {
              background-color: #fff;
              font-size: 11px;

              .body-calendar-cell {
                min-height: 26px;
              }
              .body-calendar-avail-pref {
                border-bottom: 1px solid #ccc;
                .availability-items {
                  border-bottom: 1px solid #eee;
                }
                .item-content {
                  padding: $padding-small-vertical $padding-small-horizontal;
                  &.partially-available {
                    background-color: $eml-light-grey;
                  }
                  &.holiday-vacation {
                    background-color: #e5f2f8;
                  }
                  &.not-available {
                    background-color: $eml-dark-grey;
                    color: #fff;
                  }
                }
              }
              .shift-content {
                padding: $padding-small-vertical $padding-small-horizontal;
                margin: 1px 0.5px;
                box-shadow: 0 0 10px #ccc inset;

                .shift-time {
                  margin-bottom: $margin-base-vertical;
                }
                &.new-shift {
                  color: $eml-green-highlight;
                }
                &.normal-shift {
                  background-color: $eml-light-grey;
                }
                &.open {
                  background-color: $eml-red-highlight;
                  color: #fff;
                  box-shadow: none;
                  &.ticked {
                    border: 2px solid #0f99ca;
                    padding: 3px 8px;
                  }
                }
              }
              .body-calendar-open-shifts-desc {
                background-color: $eml-mid-grey;
                color: #fff;
                padding: $padding-base-vertical $padding-base-horizontal;
                border-bottom: 1px solid #ccc;
              }
            }
          }
        }
        .offset-container {
          margin-left: 50px;
          .body-calendar-signs {
            text-align: center;
            padding: $padding-large-vertical 0;
            .body-calendar-signs-cell {
              display: inline-block;
              .sign {
                padding: 0 $padding-small-horizontal;
                .pattern {
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                  border: 1px solid #ccc;
                  &.pattern-available {
                    background-color: #fff;
                  }
                  &.pattern-partially-available {
                    background-color: $eml-light-grey;
                  }
                  &.pattern-holiday-vacation {
                    background-color: #e5f2f8;
                  }
                  &.pattern-not-available {
                    background-color: $eml-dark-grey;
                  }
                  &.pattern-new-shift {
                    border: 1px solid $eml-green-highlight;
                  }
                }
                .text-new-shift {
                  color: $eml-green-highlight;
                }
                div {
                  display: inline-block;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
  }
}

.overrides-container {

  div[container-id="'body'"] {
    .ui-grid-header-cell{
      vertical-align: bottom;
      text-align: center;
      font-size: xx-small;
      display: table-cell !important;
      .ui-grid-cell-contents {
        padding: 5px 5px !important;
        input[type="checkbox"] {
          font-size: larger;
        }
      }
    }
    .ui-grid-cell{
       text-align: center;
     }
    .ui-grid-cell-contents {
      white-space: normal;
    }
  }
  div[container-id="side"] {
    .ui-grid-header-cell {
      vertical-align: middle;
      display: table-cell !important;
    }
    .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
      border-right: none;
    }
  }

  .eml-grid .ui-grid-top-panel {
    height: inherit;
  }
}


.overrides-modal {
  .modal-dialog {
    width: 960px;
  }
}

.modal-body {
  .eml-btn-delete {
    margin-left: 5px;
  }
}

@media (max-width: 1020px) {
  .overrides-modal {
    .modal-dialog {
      width: 600px;
    }
  }
}

@media (min-width: 1600px) {
  .overrides-modal {
    .modal-dialog {
      width: 1200px;
    }
  }
}
